body {
    color: black;
    background-color: #cccccc;
    font-family: "Helvetica", Apple Chancery;
}

table {
    color: blue;
}

button {
    color: white;
    background-color:#0095f6;
}

p {
    color yellow;
}

footer {
    color: #fafafa;
    background-color: #cccccc;
    font-family: "Helvetica", Apple Chancery;
    text-emphasis-color: #cccccc;
}
.GramButtons {
    background-color: #0095f6;
    border-style: solid;
    border-width: 1px;
    border-color: #fafafa;
    border-radius:10px;
    text-decon:none;
    padding: 5px 10px 5px 10px;
    color: white;
    
}
header {
    background-color: #fafafa;
    color: white;
    padding:inherit;

}
h1 {
    display: inline;
    background-color: #fafafa;
    font-family: cursive;
}





