<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-security-policy"
          content="img-src 'self'"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>
            <a href="~/Home/UserProfile">This is me</a>
            <a href="~/Home/Register">You already know me</a>
        </h1>
           <input type="search" name="" placeholder="search" class="search" />
                 
        <a class="GramButtons" href="~/Home/Register">Sign Up</a>
        <a class="GramButtons" href="~/Home/UserProfile">Update User Information</a>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a>About me for HTML 2021
           Class Pablo Gamez
            </a>

        </div>


    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
