@{
    ViewData["Title"] = "About Me";
}
<style>
    body {
        color: black;
        background-color: white;
    }

    table {
        color: blue;
    }

    button {
        color: purple;
    }

    p {
        color yellow;
    }

    footer {
        color: orange;
    }
    
</style>
<body>
  
    <img style="width:200px;height:200px;" src="~/images/7.jpeg" align="left"/>
    <p>
        Pablo Gamez



        <button>Lets get started
        </button>
    </p>
    <br />

    <p>
        6 Posts No followers 0 following

    </p>
    </br>
    <p> I like this time in history.  </p>
    </br>
    </br>

    <p>POSTS REEELS IGTV TAGGED</p>
   
    <table>
        <tr>
            <td>
                <img style="width:100px;height:100px;" src="~/images/1.jpg" />
            </td>
            <br />
            <td>
                <img style="width:100px;height:100px;" src="~/images/2.jpg" />
            </td>
            <br />
            <td>
                <img style="width:100px;height:100px;" src="~/images/3.jpg" />
            </td>
        </tr>







        <tr>
            <td />
            <img style="width:100px;height:100px;" src="~/images/4.jpg" />
            </td>
            <br />
            <td>
                <img style="width:100px;height:100px;" src="~/images/5.jpg" />
            </td>
            <td>

                <video controls
                       style="width:100px;height:100px;">
                    <source src="~/video/v1.mp4" type="video/mp4" />
                </video>
            </td>
        </tr>
    </table>
    </br>
</body>