@{
    ViewData["Title"] = "About Me";
}
<link rel="stylesheet" href="~/css/Index.css" />
<body>

    <img style="width:200px;height:200px;" src="~/images/7.jpeg" align="left" />
    </br>
    <p>
        Pablo Gamez


        <a class="GramButtons" href="~/Home/Register">Lets get started</a>
     
    </p>
    <br />

    <p>
        <b>6</b> Posts <b>No</b> followers   <b>0</b> following

    </p>
    </br>
    <p> I like this time in history.  </p>
    </br>
    </br>
    <a href="http://google.com"
       target="blank">POSTS REELS IGTV TAGGED</a>
    <table>
        <tr>
            <td>
                <img style="width:100px;height:100px;" src="~/images/1.jpg" />
            </td>
            <br />
            <td>
                <img style="width:100px;height:100px;" src="~/images/2.jpg" />
            </td>
            <br />
            <td>
                <img style="width:100px;height:100px;" src="~/images/3.jpg" />
            </td>
        </tr>






        <tr>
            <td />
            <img style="width:100px;height:100px;" src="~/images/4.jpg" />
            </td>
            <br />
            <td>
                <img style="width:100px;height:100px;" src="~/images/5.jpg" />
            </td>
            <td>

                <video controls
                       style="width:100px;height:100px;">
                    <source src="~/video/v1.mp4" type="video/mp4" />
                </video>
            </td>
        </tr>

    </table>
    </br>
</body>